name: Build Docker Container & Push to Cloud

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches: [ master ]

env:
  REPOSITORY: ${{ github.repository }}
  REGISTRY: ghcr.io

jobs:
  test_backend:
    uses: ./.github/workflows/test-backend.yaml@master

  docker_build:
    runs-on: ubuntu-latest
    needs: [ test_backend ]
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set short git commit SHA
        id: vars
        run: |
          calculatedSha=$(git rev-parse --short ${{ github.sha }})
          echo "COMMIT_SHORT_SHA=$calculatedSha" >> $GITHUB_ENV

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.REPOSITORY }}:${{ env.COMMIT_SHORT_SHA }}
            ${{ env.REGISTRY }}/${{ env.REPOSITORY }}:latest

      - name: Deploy the app
        uses: digitalocean/app_action/deploy@v2
        env:
          SAMPLE_DIGEST: ${{ steps.push.outputs.digest }}
        with:
          app_name: 'backend'
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}




